<div class="scheduling-view">

<div class="col-md-2">
    <div class="info-hospital info-group">
      <div class="title" style="text-align: center;">
        <div style="font-weight: bold;width: 100%;">Baum Harmon Memorial Hospital</div>
        <div>123 Hospital Way</div>
        <div>Hospitaltown, KS 66062</div>
      </div>
      <div style="min-height: 2px; background-color: darkgray; margin-bottom: 10px;   margin-left: 50px;    margin-right: 50px;"></div>
      <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
      <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
      <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
      <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>

    </div>

  <div class="info-site info-group">

    <div class="title" style="text-align: center;">
      <div style="font-weight: bold;width: 100%;">Site Notes</div>
    </div>

    <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
    <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
    <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
    <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>


  </div>

  <div class="info-active info-group">
    <div class="title" style="text-align: center;">
      <div style="font-weight: bold;width: 100%;">Active Providers </div>

    </div>

    <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
    <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
    <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
    <div><span>Jane Smith, Chief Nursing Officer</span><span style="float: right;">913-234-5678</span></div>
  </div>
</div>

<div class="col-md-8">
  <div class="calendar"></div>
</div>

<div class="col-md-2">
  <div class="info-note info-group">
    <div><span style="font-weight: bold;">1/13/17</span><span style="float: right;">12/8/16 - JS</span></div>
    <div>Lorem ipsum dolor sit amet, consectetur ajiplclsd</div>

  </div>
  <div class="info-note info-group">
    <div><span style="font-weight: bold;">1/13/17</span><span style="float: right;">12/8/16 - JS</span></div>
    <div>Lorem ipsum dolor sit amet, consectetur ajiplclsd</div>
  </div>
  <div class="info-note info-group">
    <div><span style="font-weight: bold;">1/13/17</span><span style="float: right;">12/8/16 - JS</span></div>
    <div>Lorem ipsum dolor sit amet, consectetur ajiplclsd</div>
  </div>
  <div class="info-note info-group">
    <div><span style="font-weight: bold;">1/13/17</span><span style="float: right;">12/8/16 - JS</span></div>
    <div>Lorem ipsum dolor sit amet, consectetur ajiplclsd</div>
  </div>
  <div class="info-note info-group">
    <div><span style="font-weight: bold;">1/13/17</span><span style="float: right;">12/8/16 - JS</span></div>
    <div>Lorem ipsum dolor sit amet, consectetur ajiplclsd</div>
  </div>
  <div class="info-note info-group">
    <div><span style="font-weight: bold;">1/13/17</span><span style="float: right;">12/8/16 - JS</span></div>
    <div>Lorem ipsum dolor sit amet, consectetur ajiplclsd</div>
  </div>
  <div class="info-note info-group">
    <div><span style="font-weight: bold;">1/13/17</span><span style="float: right;">12/8/16 - JS</span></div>
    <div>Lorem ipsum dolor sit amet, consectetur ajiplclsd</div>
  </div>

</div>

</div>